body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}

.boton {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.acordeon {
    
    margin: 20px;
}

.titulo {
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
}

.contenido {
    padding: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.titulo.activo {
    background-color: #ddd;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3498db;
    color: white;
}
